/hw1_perceptron_learning_algorithm_ans.py
/tempCodeRunnerFile.py
stanford_ml/prob_4/images_test.csv
stanford_ml/prob_4/images_train.csv
stanford_ml/prob_4/labels_test.csv
stanford_ml/prob_4/labels_train.csv
stanford_ml/prob_4/__pycache__/cart_pole.cpython-38.pyc
stanford_ml/prob_4/tempCodeRunnerFile.py
stanford_ml/prob_1/mnist.zip
stanford_ml/prob_4/mnist.zip
kaggle/Titanic/titanic.zip
kaggle/titanic/titanic.zip
stanford_reinforcement/a3/results/*
**/__pycache__/*
kaggle/google_football/__results___files/*
